:root {
	--bgColor: #eee;
	--colorPrimary: rgb(17, 128, 255);
	--colorWhite: rgb(250, 250, 250);
	--colorBlack: rgb(65, 65, 65);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15vh;
	background-color: var(--bgColor);
}

.game-name {
	text-align: center;
	color: var(--colorPrimary);
}

.game-info {
	color: var(--colorBlack);
	margin: 3rem;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
}

.game-input {
	text-align: center;
}

input {
	border: none;
	outline: none;
	margin: 0 auto;
	padding: 15px;
	width: 50%;
	font-size: 1.4rem;
	color: var(--colorPrimary);
	transition: all 0.3s ease-in-out;
}

input:focus {
	box-shadow: -5px 7px 9px 0px #83838391;
}

@media (max-width: 321px) {
	input {
		width: 70%;
	}
	.game-info {
		flex-direction: column;
	}
	.score {
		margin-top: 1rem;
	}
}

.game-button {
	text-align: center;
	margin-top: 2rem;
}

.btn {
	width: 30%;
	padding: 10px;
	color: var(--colorWhite);
	background-color: var(--colorPrimary);
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: var(--colorPrimary);
  background-color: var(--colorWhite);
  border: 1px solid var(--colorPrimary);
}
